<div class="signup">
  <h1>Sign Up</h1>
  <main>
    <form class="form-vertical">
      <div class="form-group row">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Email" ng-model="$ctrl.model.email" type="email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Username" ng-model="$ctrl.model.username" type="text">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Password" ng-model="$ctrl.model.password" type="password">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Password Confirmation</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Password Confirmation" ng-model="$ctrl.model.password_confirmation" type="password">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Personal Code</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Personal Code" ng-model="$ctrl.model.personal_code" type="text">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Currency</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="$ctrl.model.currency">
            <option ng-repeat="currency in $ctrl.currencies" value="{{::currency.name}}">{{::currency.title}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-md-6">
              <label class="radio-inline custom-radio nowrap">
                <input ng-model="$ctrl.model.gender" type="radio" value="male">
                <span>Male</span>
              </label>
            </div>
            <div class="col-md-6">
              <label class="radio-inline custom-radio nowrap">
                <input ng-model="$ctrl.model.gender" type="radio" value="female">
                <span>Female</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="First Name" ng-model="$ctrl.model.first_name" type="text">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Last Name" ng-model="$ctrl.model.last_name" type="text">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Date Of Birth</label>
        <div class="col-sm-10">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" show-button-bar="false" ng-model="$ctrl.model.date_of_birth" is-open="$ctrl.datePopup.opened" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 control-label">Location</label>
        <div class="col-sm-3">
          <input type="text" ng-model="$ctrl.selectedCountry" typeahead-on-select="$ctrl.setCountry($item)" uib-typeahead="country.name for country in $ctrl.getCountries($viewValue) | filter:$viewValue | limitTo:8" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="text" ng-model="$ctrl.selectedState" typeahead-on-select="$ctrl.setState($item)" uib-typeahead="state.name for state in $ctrl.getStates($viewValue) | filter:$viewValue | limitTo:8" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="text" ng-model="$ctrl.selectedCity" typeahead-on-select="$ctrl.setCity($item)" uib-typeahead="city.name for city in $ctrl.getCities($viewValue) | filter:$viewValue | limitTo:8" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Address" ng-model="$ctrl.model.address" type="text">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 control-label">Phone Number</label>
        <div class="col-sm-3">
          <input class="form-control" placeholder="Code" ng-model="$ctrl.model.phone_number.code" type="text">
        </div>
        <div class="col-sm-7">
          <input class="form-control" placeholder="Number" ng-model="$ctrl.model.phone_number.number" type="text">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 control-label">Security Question</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Security Question" ng-model="$ctrl.model.security_question" type="text">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 control-label">Security Answer</label>
        <div class="col-sm-10">
          <input class="form-control" placeholder="Security Answer" ng-model="$ctrl.model.security_answer" type="text">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <label class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" value="true" ng-model="$ctrl.model.accept_terms">
            <span>Accept Terms</span>
          </label>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button class="btn btn-default btn-auth" ng-click="$ctrl.signup()" type="submit">Sign up</button>
        </div>
      </div>
    </form>
  </main>
</div>
